@media screen and (max-width :1269px) {
    #site-header-menu #site-navigation .menu>ul>li>a {
        font-size: 14px;
    }
    .ttm-header-style-infostack #site-header-menu #site-navigation .menu>ul>li>a {
        padding: 26px 3px 0px 8px;
    }
    #ttm-stickable-header-w .for_top_header_btn {
        background: #21cdc0;
        padding: 12px;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        transition: none;
    }
}

@media (max-width: 1199px) {
    .header-topbar {
        display: none;
    }
}

@media (max-width: 992px) {
    .service-item {
        padding: 20px;
    }
     a.cr_btn {
        position: absolute;
        bottom: 35px;
        transform: translate(50%, 0px);
        right: 50%;
    }
    .ttm-box-post-date .ttm-entry-date a {
        font-size: 17px;
    }
    .featured-content ul.data_costs li {
        list-style: none;
        font-size: 15px;
        line-height: 1.3;
        font-weight: 400;
    }
    .ttm-box-post-date {
        font-size: 13px;
        padding-top: 13px;
        padding-bottom: 2px;
        height: 34px;
    }
    .service-item:before {
        left: 20px;
        right: 20px;
    }
    .service-item .service__icon {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .service-item .service__title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .service-item .service__desc {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .wrap-team.wcs-slide .service-item {
        padding: 20px 20px;
    }
    .wrap-team.wcs-slide .service-item {
        margin-bottom: 30px;
    }
    .wrap-team.wcs-slide .service-item .service__content {
        padding: 15px 0 0 0;
    }
    .services-layout3 .service-item {
        padding: 20px;
    }
    .service-item .service__content {
        padding: 0px;
        height: 250px;
    }
    .ttm-header-style-infostack #site-header-menu #site-navigation .menu>ul>li>a {
        padding: 10px 3px 10px 12px;
    }
    .for_top_header_btn {
        background: #21cdc0;
        padding: 3px 65px;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        transition: none;
    }
    .site-branding img {
        max-height: 80px;
        margin-top: 30px;
    }
    marquee.fortopheader {
        width: 100%;
        position: absolute;
        top: -4px;
        right: 0;
        color: #344c86;
        /* border-bottom: 1px solid #344c86; */
        height: 33px;
        padding-bottom: 6px;
        margin: -6px;
    }
    marquee.fortopheader .mqdata {
        color: #344c86;
    }
    /* for teravel process  */
    .about-layout5 .tooltip-box .tooltip__icon {
        position: relative;
        width: 35px;
        height: 35px;
        line-height: 40px;
        font-size: 13px;
    }
    .about-layout5 .tooltip-box.exbig .tooltip__icon {
        position: relative;
        transition: all 0.3s linear 0ms;
        width: 46px;
        height: 46px;
        line-height: 50px;
        font-size: 14px;
    }
    .about-layout5 .tooltip-box.bigfive .tooltip__icon {
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    .about-layout5 .tooltip-box:nth-of-type(6) {
        top: 64.3%;
        left: 65.4%;
    }
    .about-layout5 .tooltip-box:nth-of-type(7) {
        top: 66.2%;
        left: 86.9%;
    }
    .about-layout5 .tooltip-box:nth-of-type(5) {
        top: 42.9%;
        left: 74.1%;
    }
    .about-layout5 .tooltip-box:nth-of-type(3) {
        top: 44.2%;
        left: 21.5%;
    }
    .about-layout5 .tooltip-box:nth-of-type(4) {
        top: 41.7%;
        left: 47.4%;
    }
    .about-layout5 .tooltip-box:nth-of-type(2) {
        top: 21.7%;
        right: 65.6%;
    }
    /* testimonial start  */
    .testimonial__meta-title {
        font-size: 13px;
    }
    .testimonial-content h3.testimonial__title {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
    }
    .testimonials__rating:before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0px;
        width: 143px;
        height: 95px;
    }
    /* sdasdhash */
    section.alllink .widget {
        padding: 40px 25px;
        height: calc(57vh / 1.9);
        overflow: auto;
        background: #F5F5F5;
        overflow-y: scroll;
    }
}

@media (max-width: 600px) {
    /* testimonial start  */
    h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .product_title {

        margin-bottom: 15px;
        font-size:18px;
    
    }
    
    .table td, .table th {
        padding: 0.55rem;
        font-size: 12px;
    }
    
    .gallery_section .gallery_item a img {
        width: 100%;
            height: 100px;
    }

    .testimonial__meta-desc.imp {
        font-size: 13px;
    }
    section.alllink .widget {
        padding: 40px 25px;
   height: auto;
    overflow: auto;
        overflow: auto;
        background: #F5F5F5;
        overflow-y: scroll;
    }
    .testimonial__title {
        font-size: 15px;
    }
    .tesimonial_headings h4.testimonial__meta-title {
        font-size: 15px;
        line-height: 1;
    }
    .tesimonial_headings p.testimonial__meta-desc {
        color: #21cdc0;
        font-size: 14px;
        position: relative;
        padding-bottom: 10px;
    }
    .testimonial-content h3.testimonial__title {
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 12px;
        font-weight: 500;
    }
    a.testi_read_more {
        color: #213360;
        font-size: 14px;
        font-weight: 500;
    }
    a.testi_read_more i {
        font-weight: lighter;
        font-size: 12px;
    }
    /* testimonial end */
    .searchbar .ttm-tabs.ttm-tab-style-horizontal ul.tabs li a {
        padding: 5px 10px 5px 10px;
        font-size: 10px;
        border: 1px solid #033b4a;
    }
    .mt_60 {
        margin-top: -45px !important;
    }
    .map-wrapper.travel img {
        height: auto;
        width: 100%;
    }
    .about-layout5 .tooltip-box .tooltip__icon {
        position: relative;
        width: 17px;
        height: 17px;
        line-height: 19px;
        font-size: 6px;
    }
    .about-layout5 .tooltip-box:nth-of-type(1) {
        top: 28.6%;
        left: 6.4%;
    }
    .about-layout5 .tooltip-box:nth-of-type(2) {
        top: 21.1%;
        right: 65.3%;
    }
    .about-layout5 .tooltip-box:nth-of-type(3) {
        top: 45.1%;
        left: 21.5%;
    }
    .about-layout5 .tooltip-box.exbig .tooltip__icon {
        position: relative;
        transition: all 0.3s linear 0ms;
        width: 24px;
        height: 22px;
        line-height: 26px;
        font-size: 8px;
    }
    .about-layout5 .tooltip-box:nth-of-type(4) {
        top: 42.7%;
        left: 47.4%;
    }
    .about-layout5 .tooltip-box:nth-of-type(5) {
        top: 44.2%;
        left: 74.1%;
    }
    .about-layout5 .tooltip-box:nth-of-type(6) {
        top: 65.3%;
        left: 65.4%;
    }
    .about-layout5 .tooltip-box.bigfive .tooltip__icon {
        position: relative;
        width: 19px;
        height: 19px;
        line-height: 21px;
        font-size: 8px;
    }
    .about-layout5 .tooltip-box:nth-of-type(7) {
        top: 66.2%;
        left: 86.6%;
    }
    /* hover data  */
    .tooltip__panel h5 {
        font-size: 12px;
        line-height: 1;
    }
    element.style {}
    .tooltip__panel p.pl3 {
        color: #ef7f1a;
    }
    .tooltip__panel p {
        font-size: 8px;
        text-align: left;
        font-weight: 600;
        line-height: 1.3;
        padding-top: 10px;
        position: relative;
        margin-top: 0px;
    }
    .about-layout5 .tooltip-box .tooltip__panel {
        position: absolute;
        opacity: 0;
        z-index: 3;
        /* width: 180px; */
        width: 180px;
        border-radius: 10px;
        visibility: hidden;
        margin-bottom: -20px;
        /* padding: 15px 20px; */
        padding: 4px 10px;
        background-color: #ffffff;
        transition: all 0.3s linear 0ms;
        box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.15);
        bottom: 13px;
        left: -20px;
    }
    .about-layout5 .tooltip-box .tooltip__panel:after {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 30px;
        border-bottom: 7px solid transparent;
        border-left: 9px solid #ffffff;
    }
    .tooltip__panel p:before {
        position: absolute;
        content: '';
        width: 58%;
        height: 2px;
        top: 2px;
        border-radius: 28px;
    }
    .about-layout5 .map-wrapper {
        position: relative;
        height: auto!important;
    }
    /* djad djskda  */
    .about-layout5 .tooltip-box.tooltip-hover-left .tooltip__panel:after {
        left: 9px;
        right: auto;
        border-left: 9px solid #ffffff;
        border-right: none;
    }
    .about-layout5 .tooltip-box.tooltip-hover-left .tooltip__panel {
        /* right: -15px; */
        right: -164px;
        left: auto;
    }
    /* last  */
    .about-layout5 .tooltip-box.tooltip-hover-left.mobiles7 .tooltip__panel {
        /* right: -15px; */
        right: 1px;
        left: auto;
    }
    .about-layout5 .tooltip-box.tooltip-hover-left.mobiles7 .tooltip__panel:after {
        left: auto;
        right: 11px;
        border-right: 9px solid #ffffff;
        border-left: none;
    }
    .about-layout5 .tooltip-box.bigfive.mobiles7 .tooltip__panel {
        /* right: -15px; */
        right: 1px;
        left: auto;
    }
    .about-layout5 .tooltip-box.bigfive.mobiles7 .tooltip__panel:after {
        left: auto;
        right: 11px;
        border-right: 9px solid #ffffff;
        border-left: none;
    }
    .featured-imagebox.ttm-box-view-top-image .featured-content-bottom {
        padding: 10px 10px 20px 15px;
        background-color: #fff;
        min-height:auto;
    }
    a.cr_btn {
        position: absolute;
        bottom: 35px;
        transform: translate(-50%, 0px);
        left: 50%;
    }
    a.cr_btn.onlyfort {
        position: absolute;
        bottom: 35px;
        transform: translate(-50%, 0px);
        left: 50%;
        width: 50%;
        text-align: center;
    }

    .accordion .toggle.ttm-style-classic .toggle-title {
        font-size: 14px;

    }
    
    .summary img{
        width:100% ! important;
    }
    
    .summary table {
           font-size: 12px!important;
         line-height: 18px;
    }
    .summary p {
           font-size: 12px!important;
         line-height: 18px;
    }
    .summary ul li {
           font-size: 12px!important;
         line-height: 18px;
    }
}